TOPIC: String Based Assignment Problem
1. Write a program to reverse a string.

In [8]:
string="saibhargavi"

In [9]:
string[::-1]

'ivagrahbias'

2. Check if a string is a palindrome.

In [3]:
string=input("Enter any string")

Enter any string level

In [4]:
reversed_string=string[::-1]

In [5]:
if string==reversed_string:
    print("string is a palindrome")

string is a palindrome

3. Convert a string to uppercase.

In [6]:
string="pwskills"

In [7]:
string.upper()

'PWSKILLS'

4. Convert a string to lowercase.

In [8]:
string="pwskills"

In [9]:
string.lower()

'pwskills'

5. Count the number of vowels in a string.

In [15]:
string=input("Enter any string:")
string1=string.lower()
count=0
for i in string1:
    if i in "aeiou":
        count+=1
print("the number of vowels in a string:",count)

Enter any string: pwskills

the number of vowels in a string: 1

6. Count the number of consonants in a string.

In [17]:
string=input("Enter any string:")
string1=string.lower()
count=0
for i in string1:
    if i not in "aeiou":
        count+=1
print("the number of consonants in a string:",count)

Enter any string: pwskills

the number of consonants in a string: 7

7. Remove all whitespaces from a string.

In [21]:
string=input("enter any string")
new_string=string.replace(" ","")
new_string

enter any string p  w sk i  lls

'pwskills'

8. Find the length of a string without using the `len()` function.

In [24]:
string=input("enter any string:")
count=0
for i in string:
    count+=1
print("length of string:",count)

enter any string: pwskills

length of string: 8

9. Check if a string contains a specific word.

In [29]:
string=input("enter any string")

enter any string I am a student

In [40]:
if "student" in string:
    print("string contains a specific word")

string contains a specific word

10. Replace a word in a string with another word.

In [41]:
string=input("Enter any string:")

Enter any string: welcome to python class

In [42]:
new_string=string.replace("python","datascience")

In [43]:
new_string

'welcome to datascience class'

11. Count the occurrences of a word in a string.

In [10]:
string="i am bhargavi and i am from nellore"
new_string=string.split()

In [11]:
new_string.count("am")

2

In [12]:
new_string.count("from")

1

In [13]:
new_string.count("i")

2

12. Find the first occurrence of a word in a string.

In [16]:
string="python is easy to learn.python is user friendly.python is object oriented language."

In [17]:
string.find("python")

0

13. Find the last occurrence of a word in a string.

In [16]:
string="python is easy to learn.python is user friendly.python is object oriented language."
string.rfind("python")

48

14. Split a string into a list of words.

In [32]:
string="python is easy to learn"
string.split()

['python', 'is', 'easy', 'to', 'learn']

15. Join a list of words into a string.

In [1]:
pylist=["i","love","python"]
string=" ".join(pylist)
string

'i love python'

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [43]:
string="i am bhargavi"
string.replace(" ","_")

'i_am_bhargavi'

17. Check if a string starts with a specific word or phrase.

In [45]:
string="python is programming language"
if string.startswith("python"):
    print("starts with the given word")
else:
    print("doesnot start with given word")

starts with the given word

In [46]:
string="python is programming language"
if string.startswith("is"):
    print("starts with the given word")
else:
    print("doesnot start with given word")

doesnot start with given word

18. Check if a string ends with a specific word or phrase.

In [47]:
string="python is programming language"
if string.endswith("language"):
    print("ends with the given word")
else:
    print("doesnot end with given word")

ends with the given word

In [49]:
string="python is programming language"
if string.endswith("programming"):
    print("ends with the given word")
else:
    print("doesnot end with given word")

doesnot end with given word

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [58]:
string="hello world"
string.title()

'Hello World'

20. Find the longest word in a string.

In [71]:
string="hello welcome to python"
new=string.split()
max(new,key=len)

'welcome'

21. Find the shortest word in a string.

In [72]:
string="hello welcome to python"
new=string.split()
min(new,key=len)

'to'

22. Reverse the order of words in a string.

In [74]:
string="sai bhargavi"
string[::-1]

'ivagrahb ias'

23. Check if a string is alphanumeric.

In [83]:
string="abc123"
string.isalnum()

True

24. Extract all digits from a string.

In [2]:
string="i am 21 yrs old.i was born on 2002"
new_string=""
for i in string:
    if i.isdigit():
        new_string+=i
new_string

'212002'

25. Extract all alphabets from a string.

In [3]:
string="i am 21 yrs old.i was born on 2002"
new_string=""
for i in string:
    if i.isalpha():
        new_string+=i
new_string

'iamyrsoldiwasbornon'

26. Count the number of uppercase letters in a string.

In [8]:
string="Sai Bhargavi"
count=0
for i in string:
    if i.isupper():
        count+=1
print("number of upper case letters:",count)

number of upper case letters: 2

27. Count the number of lowercase letters in a string.

In [9]:
string="Sai Bhargavi"
count=0
for i in string:
    if i.islower():
        count+=1
print("number of lower case letters:",count)

number of lower case letters: 9

28. Swap the case of each character in a string.

In [21]:
string="Sai Bhargavi"
string.swapcase()

'sAI bHARGAVI'

29. Remove a specific word from a string.

In [3]:
string="python is a programming language"
string.replace("python","")

' is a programming language'

30. Check if a string is a valid email address.

In [1]:
string=input("enter valid email address")
import re
pattern=r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern,string):
    print("valid email address")
else:
    print("invalid email address")

enter valid email address sai@gmail.com

valid email address

31. Extract the username from an email address string.

In [10]:
string=input("enter valid email address")
import re
pattern=r'^[\w\.-]+@[\w\.-]+\.\w+$'
username=string.split('@')[0]
username

enter valid email address saibavya@gmail.com

'saibavya'

32. Extract the domain name from an email address string.

In [11]:
string=input("enter valid email address")
import re
pattern=r'^[\w\.-]+@[\w\.-]+\.\w+$'
domainname=string.split('@')[1]
domainname

enter valid email address saibavya@gmail.com

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [31]:
string="hello    welcome to data   sc  ience course   "
new_string=" ".join(string.split())
new_string

'hello welcome to data sc ience course'

34. Check if a string is a valid URL.

In [35]:
url="https://www.google.com"
if url.startswith(("http://","https://","ftp://")):
    print("valid url")
else:
    print("invalid url")

valid url

35. Extract the protocol (http or https) from a URL string.

In [18]:
url="https://www.google.com"
protocol=url.split(":")[0]
protocol

'https'

36. Find the frequency of each character in a string.

In [3]:
string=input("enter any string")
char_frequency={}
for char in string:
    if char in char_frequency:
        char_frequency[char]+=1
    else:
        char_frequency[char]=1
for char,frequency in char_frequency.items():
    print("the frequency of",char,"in a string is",frequency,"times")

enter any string saii

the frequency of s in a string is 1 times
the frequency of a in a string is 1 times
the frequency of i in a string is 2 times

37. Remove all punctuation from a string.

In [4]:
string="my father's name is balaji"
string.replace("'","")

'my fathers name is balaji'

38. Check if a string contains only digits.

In [37]:
string="123"
if string.isdigit():
    print("string contains only digits")
else:
    print("doesnot contain only digits")

string contains only digits

In [38]:
string="sai123"
if string.isdigit():
    print("string contains only digits")
else:
    print("doesnot contain only digits")

doesnot contain only digits

39. Check if a string contains only alphabets.

In [39]:
string="sai123"
if string.isalpha():
    print("string contains only alphabets")
else:
    print("doesnot contain only alphabets")

doesnot contain only alphabets

In [40]:
string="sai"
if string.isalpha():
    print("string contains only alphabets")
else:
    print("doesnot contain only alphabets")

string contains only alphabets

40. Convert a string to a list of characters.

In [17]:
string="i am bhargavi"
pylist=list(string)
pylist

['i', ' ', 'a', 'm', ' ', 'b', 'h', 'a', 'r', 'g', 'a', 'v', 'i']

41. Check if two strings are anagrams.

In [21]:
string1=input("enter first string")
string2=input("enter second string")
s1=string1.replace(" ","").lower()
s2=string2.replace(" ","").lower()
if sorted(s1)==sorted(s2):
    print("strings are anagrams")
else:
    print("strings are not anagrams")

enter first string listen
enter second string silent

strings are anagrams

42. Encode a string using a Caesar cipher.

In [1]:
plaintext=input("enter text")                   #giving input
shift=int(input("enter shift value:"))          #give shift value
encode_text=""                                  #initializing an empty string
for char in plaintext:                          #iterate loop through each character
    if char.isalpha():                          #chech whether character is a letter
        upper=char.isupper()                    #determine the character is upper case or lower case
        char=chr(((ord(char)-ord('A' if upper else'a')+shift)%26)+ord('A' if upper else 'a'))  #use caeser cipher formula to encode
    encode_text+=char                           #append and save in encode_text
encode_text                                     #displaying the final encode_text

enter text caeser cipher
enter shift value: 2

'ecgugt ekrjgt'

43. Decode a Caesar cipher encoded string.

In [2]:
encode_text=input("enter text")                 #giving encode text
shift=int(input("enter shift value:"))          #give shift value
decode_text=""                                  #initializing an empty string
for char in encode_text:                        #iterate loop through each character
    if char.isalpha():                          #chech whether character is a letter
        upper=char.isupper()                    #determine the character is upper case or lower case
        char=chr(((ord(char)-ord('A' if upper else'a')-shift)%26)+ord('A' if upper else 'a'))  #use caeser cipher formula to decode
    decode_text+=char                           #append and save in decode_text
decode_text                                     #displaying the final decode_text

enter text ecgugt ekrjgt
enter shift value: 2

'caeser cipher'

44. Find the most frequent word in a string.

In [10]:
string=input("enter any string")
words=string.lower().split()
most_frequent_word=max(set(words),key=words.count)
print("most frequent word in a string :",most_frequent_word)

enter any string i am very very good at python.

most frequent word in a string : very

45. Find all unique words in a string.

In [14]:
string=input("enter any string")
words=string.lower().split()
unique_words=set(words)
unique_words_list=list(unique_words)
print(unique_words_list)

enter any string  i am very very good in python

['am', 'good', 'i', 'python', 'in', 'very']

46. Count the number of syllables in a string.

In [5]:
import re
string=input("enter any string")
vowels="aeiouAEIOU"
syllable_count=len(re.findall(r'[aeiouAEIOU]+',string))
print(f"the string '{string}' has {syllable_count} syllable(s)")

enter any string python

the string 'python' has 1 syllable(s)

47. Check if a string contains any special characters.

In [34]:
import re
string=input("enter an string:")
pattern=r'[\W]'
if re.search(pattern,string):
    print("string contains special characters")
else:
    print("string doesnot contains special characters")

enter an string: string

string doesnot contains special characters

48. Remove the nth word from a string.

In [36]:
string=input("enter any string")
n=int(input("enter n value"))
words=string.split()
if n>=0 and n<len(words):
    del words[n]
    new_string=' '.join(words)
    print(new_string)
else:
    print(string)

enter any string my name is sai bhargavi
enter n value 3

my name is bhargavi

49. Insert a word at the nth position in a string.

In [39]:
string=input("enter any string")
n=int(input("enter n value"))
new_word=input("enter any word:")
words=string.split()
if n>=0 and n<len(words):
    words.insert(n,new_word)
    new_string=' '.join(words)
    print(new_string)
else:   
    print(string)

enter any string this is science class
enter n value 2
enter any word: data

this is data science class

50. Convert a CSV string to a list of lists.

In [2]:
import csv
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_reader = csv.reader(csv_string.splitlines())
csv_data = [row for row in csv_reader]
for row in csv_data:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

List Based Practice Problem :


1. Create a list with integers from 1 to 10.

In [14]:
pylist=[i for i in range(1,11)]
print(pylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [18]:
pylist=[1,2,3,4,5]
count=0
for i in pylist:
    count+=1
print("length of the list is:",count)

length of the list is: 5

3. Append an element to the end of a list.

In [21]:
pylist=[1,2,3,4]
pylist.append(5)
pylist

[1, 2, 3, 4, 5]

4. Insert an element at a specific index in a list.

In [23]:
pylist=[1,2,3,4]
pylist.insert(1,22)
pylist

[1, 22, 2, 3, 4]

5. Remove an element from a list by its value.

In [43]:
pylist=[10,20,30,40]
pylist.remove(30)
pylist

[10, 20, 40]

6. Remove an element from a list by its index.

In [29]:
pylist=[1,2,34,45,56]
pylist.pop(3)
pylist

[1, 2, 34, 56]

7. Check if an element exists in a list.

In [35]:
pylist=[1,2,3,4]
if 2 in pylist:
    print("element exists in a list")
else:
    print("element doesnot exists in a list")

element exists in a list

8. Find the index of the first occurrence of an element in a list.

In [44]:
pylist=[1,2,3,4,2,3]
pylist.index(2)

1

9. Count the occurrences of an element in a list.

In [46]:
pylist=[1,2,2,3,2,4,5,3]
pylist.count(2)

3

10. Reverse the order of elements in a list.

In [51]:
pylist=[1,2,3,4]
pylist.reverse()
pylist

[4, 3, 2, 1]

11. Sort a list in ascending order.

In [49]:
pylist=[7,3,8,2,4,6,0]
pylist.sort()
pylist

[0, 2, 3, 4, 6, 7, 8]

12. Sort a list in descending order.

In [52]:
pylist=[7,3,8,2,4,6,0]
pylist.sort(reverse=True)
pylist

[8, 7, 6, 4, 3, 2, 0]

13. Create a list of even numbers from 1 to 20.

In [60]:
pylist=[x for x in range(2,21,2)]
print("even numbers are:",pylist)

even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [71]:
pylist=[x for x in range(1,21,2)]
print("odd numbers are:",pylist)

odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [67]:
pylist=[10,20,30,40]
pylist1=sum(pylist)
print("sum of all elements in a list:",pylist1)

sum of all elements in a list: 100

16. Find the maximum value in a list.

In [69]:
pylist=[5,7,4,2,8,1,6]
new_list=max(pylist)
print("maximum value in a list:",new_list)

maximum value in a list: 8

17. Find the minimum value in a list.

In [72]:
pylist=[5,7,4,2,8,1,6]
new_list=min(pylist)
print("minimum value in a list:",new_list)

minimum value in a list: 1

18. Create a list of squares of numbers from 1 to 10.

In [75]:
pylist=[x*x for x in range(1,11)]
print("list of squares:",pylist)

list of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers

In [78]:
import random
random_numbers=[random.randint(1,100) for i in range(10)]
print("list of random numbers",random_numbers)

list of random numbers [12, 69, 84, 76, 12, 19, 52, 42, 45, 30]

20. Remove duplicates from a list.

In [79]:
pylist=[1,7,6,9,3,3,5,2,1,4]
new_list=list(set(pylist))
new_list

[1, 2, 3, 4, 5, 6, 7, 9]

21. Find the common elements between two lists.

In [93]:
list1=[1,20,3,40]
list2=[10,20,30,40]
common_elements=list(set(list1).intersection(list2))
print("common elements between two lists are:",common_elements)

common elements between two lists are: [40, 20]

22. Find the difference between two lists.

In [94]:
list1=[1,20,3,40]
list2=[10,20,30,40]
difference_elements=list(set(list1).difference(list2))
print("difference elements between two lists are:",difference_elements)

difference elements between two lists are: [1, 3]

23. Merge two lists.

In [95]:
list1=[1,20,3,40]
list2=[10,20,30,40]
new_list=list1+list2
new_list

[1, 20, 3, 40, 10, 20, 30, 40]

24. Multiply all elements in a list by 2.

In [96]:
pylist=[1,2,3,4]
newlist=[x*2 for x in pylist]
newlist

[2, 4, 6, 8]

25. Filter out all even numbers from a list.

In [100]:
pylist=[1,2,3,4,5,6]
newlist=[]
for i in pylist:
    if i%2==0:
        newlist.append(i)
    else:
        newlist
newlist

[2, 4, 6]

26. Convert a list of strings to a list of integers.

In [101]:
l=["10","20","30","40"]
newlist=[int(x) for x in l]
newlist

[10, 20, 30, 40]

27. Convert a list of integers to a list of strings.

In [102]:
l=[10,20,30,40]
newlist=[str(x) for x in l]
newlist

['10', '20', '30', '40']

28. Flatten a nested list.

In [8]:
pylist=[[6,7,8,8],[2,3,4],[1,2,3]]
flattened_list=[]
for sublist in pylist:
    for i in sublist:
        if isinstance(i,list):
            flattened_list.extend(i)
        else:
            flattened_list.append(i)
flattened_list

[6, 7, 8, 8, 2, 3, 4, 1, 2, 3]

29. Create a list of the first 10 Fibonacci numbers.

In [6]:
l=[0,1]
while len(l)<10:
    number=l[-1]+l[-2]
    l.append(number)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [27]:
l=[1,8,3,4,5,6]
if l==sorted(l):
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

31. Rotate a list to the left by `n` positions.

In [28]:
original_list = [1, 2, 3, 4, 5]
n = 2
n = n % len(original_list)
if len(original_list) > 0 and n > 0:
    rotated_list = original_list[n:] + original_list[:n]
else:
    rotated_list = original_list 
print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [30]:
original_list = [1, 2, 3, 4, 5]
n = 2
n = n % len(original_list)
if len(original_list) > 0 and n > 0:
    rotated_list = original_list[-n:] + original_list[:-n]
else:
    rotated_list = original_list 
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [37]:
l=[]
n=50
for i in range(2,n+1):
    for j in range(2,n+1):
        if i%j==0:
            break
    if i==j:
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [38]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunked_list = []

for i in range(0, len(original_list), chunk_size):
    chunk = original_list[i:i + chunk_size]
    chunked_list.append(chunk)

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [40]:
l=[2,4,5,3,6,1,7]
l.sort()
print(l[-2]

[1, 2, 3, 4, 5, 6, 7]

36. Replace every element in a list with its square.

In [3]:
pylist=[1,2,3,4,5]
square_list=[x**2 for x in pylist]
square_list

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [1]:
original_list = ['apple', 'banana', 'cherry', 'date']
result_dict = {}
for index, element in enumerate(original_list):
    result_dict[element] = index
print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [3]:
import random
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffled_list = original_list[:]  
random.shuffle(shuffled_list) 
print(shuffled_list)

[3, 7, 4, 2, 8, 5, 9, 6, 1]

39. Create a list of the first 10 factorial numbers.

In [4]:
factorial_list = []
for n in range(10):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    factorial_list.append(factorial)
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [19]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 5]
for element1 in list1:
    for element2 in list2:
        if element1 == element2:
            print("The lists have at least one common element.")
            break  
    else:
        continue  
    break
else:
    print("The lists have no common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [21]:
py_list = [1, 2, 3, 4, 5]
py_list.clear()
py_list

[]

42. Replace negative numbers in a list with 0.

In [22]:
py_list = [1, -2, 3, -4, 5]

for i in range(len(py_list)):
    if py_list[i] < 0:
        py_list[i] = 0

print(py_list)

[1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [27]:
string="i am sai bhargavi"
string.split()

['i', 'am', 'sai', 'bhargavi']

44. Convert a list of words into a string.

In [30]:
word_list = ["This", "is", "data", "science", "class"]
string = " ".join(word_list)
string

'This is data science class'

45. Create a list of the first `n` powers of 2.

In [31]:
n = 5 
powers_of_2 = []
for i in range(n):
    powers_of_2.append(2 ** i)
print(powers_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [35]:
string_list = ["python", "java", "c", "dotnet", "datascience"]
longest_string = max(string_list, key=len)
print("Longest string:", longest_string)

Longest string: datascience

47. Find the shortest string in a list of strings.

In [38]:
string_list = ["python", "java", "c", "dotnet", "datascience"]
shortest_string = min(string_list, key=len)
print("shortest string:", shortest_string)

shortest string: c

48. Create a list of the first `n` triangular numbers.

In [14]:
n = 5
triangular_numbers = []
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers.append(triangular_number)
print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [15]:
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [3, 5, 7]

is_subsequence = set(sub_list).issubset(main_list)

if is_subsequence:
    print("The sub_list is a subsequence of the main_list.")
else:
    print("The sub_list is not a subsequence of the main_list.")

The sub_list is a subsequence of the main_list.

50. Swap two elements in a list by their indices.

In [16]:
my_list = [10, 20, 30, 40, 50]
my_list[1], my_list[3] = my_list[3], my_list[1]
print(my_list)

[10, 40, 30, 20, 50]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [53]:
tup=(1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [54]:
tup=(1,2,3,4,5)
tup[2]

3

3. Find the length of a tuple without using the `len()` function.

In [55]:
tup=(10,20,30,40,50)
count=0
for i in tup:
    count+=1
count

5

4. Count the occurrences of an element in a tuple.

In [56]:
tup=(1,7,4,2,4,6,4)
tup.count(4)

3

5. Find the index of the first occurrence of an element in a tuple.

In [57]:
tup=(1,7,4,2,4,6,4)
tup.index(4)

2

6. Check if an element exists in a tuple.

In [58]:
tup=(1,3,5,6,8)
if 3 in tup:
    print("elememt exists")
else:
    print("element doesnot exists")

elememt exists

7. Convert a tuple to a list.

In [59]:
tup=(2,4,6,8)
new_tuple=list(tup)
new_tuple

[2, 4, 6, 8]

8. Convert a list to a tuple.

In [60]:
pylist=[1,2,3,4]
tup=tuple(pylist)
tup

(1, 2, 3, 4)

9. Unpack the elements of a tuple into variables.

In [61]:
tup=(10, 20, 30)
var1, var2, var3 = tup
print(var1)  
print(var2)  
print(var3)

10
20
30

10. Create a tuple of even numbers from 1 to 10.

In [62]:
pylist=[x for x in range(2,11,2)]
tup=tuple(pylist)
tup

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [63]:
pylist=[x for x in range(1,11,2)]
tup=tuple(pylist)
tup

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [64]:
tup1=(1,2,3)
tup2=(4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [65]:
tup=(1,2,3,4)
tup*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [66]:
my_tuple = ()
if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [67]:
tup=((1,2,3),(4,5,6),(7,8,9))
print("nested list:",tup)

nested list: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.

In [68]:
tup=((1,2,3),(4,5,6),(7,8,9))
tup[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [69]:
tup=(1,)
tup

(1,)

18. Compare two tuples.

In [70]:
tuple1=(1,2,3,4,5)
tuple2=(2,3,4,5,6)
print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [71]:
tup=(1,2,3,4)
del tup

20. Slice a tuple.

In [72]:
tup=(1,2,3,4,6,7,8)
tup[1:5]

(2, 3, 4, 6)

21. Find the maximum value in a tuple.

In [73]:
tup=(8,6,4,2,9)
max(tup)

9

22. Find the minimum value in a tuple.

In [74]:
tup=(8,6,4,2,9)
min(tup)

2

23. Convert a string to a tuple of characters.

In [75]:
string="welcome to python class"
tup=tuple(string)
print(tup)

('w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'l', 'a', 's', 's')

24. Convert a tuple of characters to a string.

In [76]:
tup=('w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'l', 'a', 's', 's')
string=''.join(tup)
string

'welcome to python class'

25. Create a tuple from multiple data types.

In [77]:
tup=(1,"sai",True,12.0)
tup

(1, 'sai', True, 12.0)

26. Check if two tuples are identical.

In [78]:
tup1=(1,2,3)
tup2=(1,2,3)
if tup1==tup2:
    print("two tuples are identical")
else:
    print("two tuples are not identical")

two tuples are identical

27. Sort the elements of a tuple.

In [79]:
tup=(3,6,4,5,2,9,1)
sort_tup=tuple(sorted(tup))
sort_tup

(1, 2, 3, 4, 5, 6, 9)

28. Convert a tuple of integers to a tuple of strings.

In [80]:
tup=(1,2,3,4)
newtup=tuple([str(x) for x in tup])
newtup

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [81]:
tup=('1','2','3','4')
newtup=tuple([int(x) for x in tup])
newtup

(1, 2, 3, 4)

30. Merge two tuples.

In [82]:
tup1=(1,2,3)
tup2=(4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [1]:
pytup = ((6, (7, 8), 8), (2, 3, 4), (1, 2, 3))
flattened_list = []
for subtuple in pytup:
    for i in subtuple:
        if isinstance(i, tuple):
            flattened_list.extend(i)
        else:
            flattened_list.append(i)
flattened_tuple = tuple(flattened_list)
print(flattened_tuple)

(6, 7, 8, 8, 2, 3, 4, 1, 2, 3)

32. Create a tuple of the first 5 prime numbers.

In [88]:
prime_numbers = []
num = 2

while len(prime_numbers) < 5:
    is_prime = all(num % i != 0 for i in prime_numbers)
    if is_prime:
        prime_numbers.append(num)
    num += 1

prime_numbers = tuple(prime_numbers)
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [95]:
tup=(1,2,3,2,1)
newtuple=tup[::-1]
if tup==newtuple:
    print("tuple is palindrome")
else:
    print("tuple is not  a palindrome")

tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [96]:
tup=tuple([x*x for x in range(1,6)])
tup

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [104]:
tup=(1,2,3,4,5,6)
even_tuple=[]
for i in tup:
    if i%2==0:
        even_tuple.append(i)
    elif i==1:
        continue
    else:
        even_tuple
tuple(even_tuple)

(2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [107]:
tup=(1,3,5,6)
tup1=tuple([x*2 for x in tup])
tup1

(2, 6, 10, 12)

37. Create a tuple of random numbers.

In [109]:
import random
random_numbers = tuple(random.randint(1, 10) for i in range(5))
print(random_numbers)

(8, 1, 10, 1, 5)

38. Check if a tuple is sorted.

In [110]:
tup=(1,2,3,4,5)
if tup == tuple(sorted(tup)):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

In [112]:
original_tuple = (1, 2, 3, 4, 5)
n = 3
n = n % len(original_tuple)
if len(original_tuple) > 0 and n > 0:
    rotated_tuple = original_tuple[n:] + original_tuple[:n]
else:
    rotated_tuple = original_tuple
print(rotated_tuple)

(4, 5, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [113]:
original_tuple = (1, 2, 3, 4, 5)
n = 3
n = n % len(original_tuple)
if len(original_tuple) > 0 and n > 0:
    rotated_tuple = original_tuple[-n:] + original_tuple[:-n]
else:
    rotated_tuple = original_tuple
print(rotated_tuple)

(3, 4, 5, 1, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [115]:
l=[0,1]
while len(l)<5:
    number=l[-1]+l[-2]
    l.append(number)
print(tuple(l))

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [2]:
userinput=input("enter elements")
tup=tuple(userinput)
tup

enter elements abcde

('a', 'b', 'c', 'd', 'e')

43. Swap two elements in a tuple.

In [14]:
l=(2,4,6,8)
l=list(tup)
l[1],l[2]=l[2],l[1]
swaptup=tuple(l)
swaptup

(2, 6, 4, 8)

44. Reverse the elements of a tuple.

In [1]:
tup=(1,2,3,4)
newtuple=tup[::-1]
newtuple

(4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [4]:
n = 5 
powers_of_2 = ()
for i in range(n):
    powers_of_2 += (2 ** i,)
print(powers_of_2)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [7]:
string_tuple=("python","datascience","java","dotnet")
new_tuple=max(string_tuple,key=len)
new_tuple

'datascience'

47. Find the shortest string in a tuple of strings.

In [8]:
string_tuple=("python","datascience","java","dotnet")
new_tuple=min(string_tuple,key=len)
new_tuple

'java'

48. Create a tuple of the first `n` triangular numbers.

In [10]:
n = 5 
triangular_numbers = ()
sum_of_naturals = 0
for i in range(1, n + 1):
    sum_of_naturals += i
    triangular_numbers += (sum_of_naturals,)
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [2]:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 5, 7)

is_subsequence = set(sub_tuple).issubset(main_tuple)

if is_subsequence:
    print("The sub_tuple is a subsequence of the main_tuple.")
else:
    print("The sub_tuple is not a subsequence of the main_tuple.")

The sub_tuple is a subsequence of the main_tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [22]:
n=int(input("enter any number"))
alter_tuple=tuple([1 if x%2==0 else 0 for x in range(n)])
alter_tuple

enter any number 6

(1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [5]:
pyset={1,2,3,4,5}
pyset

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [7]:
pyset={1,2,3,4,5}
pyset.add(6)
pyset

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [24]:
pyset={1,3,5,7}
pyset.remove(3)
pyset

{1, 5, 7}

4. Check if an element exists in a set.

In [25]:
pyset={1,2,3,4,5}
if 2 in pyset:
    print("element exists in a set")
else:
    pring("element doesnot exist in a set")

element exists in a set

5. Find the length of a set without using the `len()` function.

In [26]:
pyset={1,2,3,4,5}
count=0
for i in pyset:
    count+=1
count

5

6. Clear all elements from a set.

In [27]:
pyset={2,4,6,8}
pyset.clear()
pyset

set()

7. Create a set of even numbers from 1 to 10.

In [28]:
pyset={x for x in range(1,11) if x%2==0}
pyset

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [29]:
pyset={x for x in range(1,11) if x%2!=0}
pyset

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [30]:
set1={1,2,3,4}
set2={5,6,7}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

10. Find the intersection of two sets.

In [31]:
set1={1,2,3,4}
set2={1,5,4,7}
set1.intersection(set2)

{1, 4}

11. Find the difference between two sets.

In [32]:
set1={1,2,3,4}
set2={1,5,4,7}
set1.difference(set2)

{2, 3}

12. Check if a set is a subset of another set.

In [33]:
set1={1,2}
set2={1,2,3}
if set1.issubset(set2):
    print("subset of another set")
else:
    print("not a subset of another set")

subset of another set

13. Check if a set is a superset of another set.

In [34]:
set1={1,2,3,4}
set2={1,2}
if set1.issuperset(set2):
    print("superset of another set")
else:
    print("not a superset of another set")

superset of another set

14. Create a set from a list.

In [35]:
pylist=[1,2,3,4]
pyset=set(pylist)
pyset

{1, 2, 3, 4}

15. Convert a set to a list.

In [36]:
pyset={1,2,3,4}
pylist=list(pyset)
pylist

[1, 2, 3, 4]

16. Remove a random element from a set.

In [37]:
import random
pyset={1,2,3,4,5}
random_element=random.choice(list(pyset))
pyset.remove(random_element)
pyset

{1, 2, 3, 5}

17. Pop an element from a set.

In [38]:
pyset={1,2,3,4,5}
pyset.pop()
pyset

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [39]:
set1 = {1, 2, 3}
set2 = {1, 5, 6}
if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("The sets have some elements in common.")

The sets have some elements in common.

19. Find the symmetric difference between two sets.

In [40]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [41]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [42]:
prime_numbers = set()
num = 2
while len(prime_numbers) < 5:
    is_prime = all(num % i != 0 for i in prime_numbers)
    if is_prime:
        prime_numbers.add(num)
    num += 1
print(prime_numbers)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [43]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 3, 2, 4, 5}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [44]:
pyset={1,2,3,4,5}
frozen_set=frozenset(pyset)
frozen_set

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [45]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("set is disjoint with another set.")
else:
     print("set is not disjoint with another set.")

set is disjoint with another set.

25. Create a set of squares of numbers from 1 to 5.

In [46]:
pyset={x*x for x in range(1,6)}
pyset

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [47]:
pyset={1,2,3,4,5,6}
filter_set={x for x in pyset if x%2==0}
filter_set

{2, 4, 6}

27. Multiply all elements in a set by 2.

In [48]:
pyset={1,2,3,4}
newset={x*2 for x in pyset}
newset

{2, 4, 6, 8}

28. Create a set of random numbers.

In [49]:
import random
random_set={random.randint(1,100) for i in range(5)}
random_set

{4, 19, 42, 49, 82}

29. Check if a set is empty.

In [50]:
pyset=set()
if len(pyset)==0:
    print("set is empty")
else:
    print("set is not empty")

set is empty

30. Create a nested set (hint: use frozenset).

In [51]:
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7})}
print(nested_set)

{frozenset({3, 4, 5}), frozenset({6, 7}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [52]:
pyset={2,4,6,8}
pyset.discard(4)
pyset

{2, 6, 8}

32. Compare two sets.

In [53]:
set1={1,2,3,4}
set2={2,4,6,8}
print(set1.issubset(set2))
print(set1.issuperset(set2))
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set2.difference(set1))

False
False
{1, 2, 3, 4, 6, 8}
{2, 4}
{1, 3}
{8, 6}

33. Create a set from a string.

In [54]:
string="saibhargavi"
stringset=set(string)
stringset

{'a', 'b', 'g', 'h', 'i', 'r', 's', 'v'}

34. Convert a set of strings to a set of integers.

In [55]:
string_set={"1","2","3","4"}
integer_set={int(x) for x in string_set}
integer_set

{1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [56]:
integer_set={1,2,3,4,5}
string_set={str(x) for x in integer_set}
string_set

{'1', '2', '3', '4', '5'}

36. Create a set from a tuple.

In [57]:
tup=(2,3,45,56)
pyset=set(tup)
pyset

{2, 3, 45, 56}

37. Convert a set to a tuple.

In [58]:
pyset={"sai","sangi","mahi"}
tup=tuple(pyset)
tup

('sai', 'mahi', 'sangi')

38. Find the maximum value in a set.

In [59]:
pyset={52,44,68,92,33}
max(pyset)

92

39. Find the minimum value in a set.

In [60]:
pyset={52,44,68,92,33}
min(pyset)

33

40. Create a set from user input.

In [62]:
pyset=input("enter your input")
set1=pyset.split(',')
pyset
newset=set(set1)
newset

enter your input s,a,i,b,a,v,y,a

{'a', 'b', 'i', 's', 'v', 'y'}

41. Check if the intersection of two sets is empty.

In [63]:
set1={1,2,3,4}
set2={7,6,7,8}
if len(set1.intersection(set2))==0:
    print("empty")
else:
    print("intersection is not empty")

empty

42. Create a set of the first 5 Fibonacci numbers.

In [64]:
pyset=set()
a,b=0,1
for i in range(5):
    pyset.add(a)
    pyset.add(b)
    a,b=b,a+b
print(pyset)  #set doesnot allow duplicates

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [65]:
pylist=[1,2,3,4,3,2,5]
newlist=list(set(pylist))
newlist

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [66]:
set1={10,20,30,40}
set2={30,40,10,20}
if set1==set2:
    print("two sets have same elements")
else:
    print("do not have same elements")

two sets have same elements

45. Create a set of the first `n` powers of 2.

In [67]:
n=10
pyset={2**x for x in range(n)}
pyset

{1, 2, 4, 8, 16, 32, 64, 128, 256, 512}

46. Find the common elements between a set and a list.

In [13]:
pyset={1,2,3,4}
pylist=[1,4,7,9]
common_elements=set(pyset.intersection(pylist))
common_list=list(common_elements)
common_list

[1, 4]

47. Create a set of the first `n` triangular numbers.

In [17]:
n = int(input("Enter the value of n: "))  # User inputs the value of n
triangular_numbers_set = set()
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers_set.add(triangular_number)
print(triangular_numbers_set)

Enter the value of n:  5

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49. Create a set of alternating 1s and 0s of length `n`.

In [21]:
n=int(input("enter any number"))
alter_set=set([1 if x%2==0 else 0 for x in range(n)])
alter_set

enter any number 7

{0, 1}

50. Merge multiple sets into one.

In [68]:
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}
merged_set=set1.union(set2,set3)
merged_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}